/* Grids */
@import url('grid.css');

/* Fonts */
@import url('typography.css');

/* Forms */
@import url('forms.css');

/* User Flow */
@import url('userflow.css');

/* Top Level / Global */
*, *::before, *::after {
  box-sizing: border-box;
}

.active {
  border-bottom: solid 0.1rem rgba(193,23,36,1);
  font-weight: bold;
}

.fixed {
  position: fixed;
}

section .section-header, section nav{
  padding: 4rem 4rem;
}

section article {
  padding-left: 4rem;
  padding-right: 4rem;
}

.event-sidebar {
  padding-top: 6.5rem;
}

/* Header */
.header {
  width: 100%;
  background: rgba(255,255,255,0.8);
  padding: 0 4rem;
}

.header-logo {
  display: inline-block;
  padding: 1.5rem 0;
  margin-right: 1.5rem;
}

.header-logo img {
  width: 6rem;
  margin-top: -0.3rem;
  vertical-align: middle;
}

.header-nav {
  padding: 0;
  display: inline-block;
}

nav ul {
  margin: 0;
  padding: 1rem 0 1rem 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
}

.header-link {
  display: inline-block;
  height: 100%;
  padding: 0.8rem 0.5rem;
  /*border-radius: 0.1rem;*/
  border-bottom: solid 2px transparent;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(102,89,71,1);
}

.header-link:hover, .header-link.active {
  padding: 0.8rem 1.5rem;
  /*background: rgba(0,0,0,0.2);*/
  border-bottom: solid 2px rgba(121,189,154,1);
  color: rgba(121,189,154,1);
}

.header-link:focus {
  padding: 0.8rem 1.5rem;
  /*background: rgba(0,0,0,0.2);*/
  font-weight: 700;
  border-bottom: solid 2px rgba(121,189,154,1);
  color: rgba(121,189,154,1);
}

/* Overview */
.overview {
  padding-top: 5rem;
  background: rgba(0,0,0,0.8);
  color: white;
}

section .section-header {
  padding-bottom: 0;
}

.event-header {
  padding-top: 4rem;
}

.home-section{
  padding-top: 4rem;
}

.bestseller-grid {
  padding-top: 2rem;
}

.overview-nav {
  /*display: inline-block;*/
  padding-top: 0;
  /*background: rgba(255,255,255,0.5);*/
 }

.overview-nav ul {
  /*padding: 0;*/
  /*list-style: none;*/
}

.overview-nav ul li {
  /*display: inline-block;*/
}

/* Sections */
.elements {

}

.elements .section-header {

}

.elements article {
  padding-bottom: 0;
}

/* Style Guide Styles */
.button {
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  color: white;
  margin-bottom: 0.5rem;
}

.button:hover {
  color: white;
}

 /*Styling for Submit/Reset button*/
  .button.button-submit{
    display: inline-block;
    /*padding: 0.5em;*/
    color: #79BD9A;
    border: 0.2em solid;
    border-radius: 2em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;  
  }

  .button.button-submit:hover, .botton.button-submit:focus{
    color: white;
    border: 0.2em solid;
    background-color: #79BD9A;
  }

  .button.button-reset{
    display: inline-block;
    padding: 0.5em;
    color: #B7BDBA;
    border: 0.2em solid;
    border-radius: 2em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;  
  }

  .button.button-reset:hover, .button.button-reset:focus{
    color: white;
    border: 0.2em solid;
    background-color: #787878;
  }

/* Colors */
.color {
  color: white;
  font-weight: bold;
}

.color > div {
  display: inline-block;
  padding: 1.5rem;
}

.light-gray {
  background-color: #B7BDBA;
}

.dark-gray {
  background-color: #787878;
}

.primary {
  background-color: #79BD9A;
}

.secondary {
  background-color: #3B8686;
}

.secondary-dark {
  background-color: #0B486B;
}

/* Combined Elements Styles */
.listing-header {

}

.listing-nav {
  display: inline-block;
  padding: 1rem;
}

.listing-item {
  display: inline-block;
}

.listing-item figure {
  margin: 0;
}

.listing-item h4 {
  margin-bottom: 0;
  margin-top: 0.5rem;
  font-weight: bold;
  text-align: center;
}

.listing-item p {
  margin-top: 0;
  text-align: center;
}

.listing-item h3{         /*testing out event date*/
  position: absolute;
  right: 0;
}

.event-img {
  padding-top: 2em;
}

/* Citations Styles */
ul.citations {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

ul.citations li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

ul.citations li strong {
  font-weight: normal;
  font-style: italic;
}

cite {
  font-style: normal;
}

/* Footer */
.footer-nav {
  font-size: 0.8rem;
}

.footer-nav ul {
  padding: 0.5rem 0;
}

.footer-nav ul li a {
  padding: 0 1rem 0 0;
}


/*=============*/


section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
}

ul.citations {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

ul.citations li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

ul.citations li strong {
  font-weight: normal;
  font-style: italic;
}

cite {
  font-style: normal;
}

img {
  max-width: 100%;
}

img[src^="img/wallet"] {
  max-width: 45%; 
}

img[src^="img/user-flow-2/4k"] {
  max-width: 45%; 
}