/* Grids */
@import url('grid.css');

/* Fonts */
@import url('typography.css');

/* Forms */
@import url('forms.css');

/* User Flow */
@import url('userflow.css');

/* Top Level / Global */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 4rem 0;
}

.active {
  border-bottom: solid 2px #79BD9A;
  font-weight: bold;
}

.fixed {
  position: fixed;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.shown {
  opacity: 1;
  visibility: visible;
}

/* Top padding to compensate for the fixed header */
.top {
  padding-top: 6rem;
}

@media(max-width: 38rem) {
  .top {
    padding-top: 1.5rem;
  }
}

.event-sidebar {
  padding-top: 6.5rem;
}

.event-details-grid{
  padding-left: 3em;
}

/* Header */
.header {
  width: 100%;
  background: rgba(255,255,255,1);
  /*padding: 0 4rem;*/
  box-shadow: 0 0 0.5rem #666;
  z-index: 99999;
}

@media(max-width: 38rem) {
  .header.fixed {
    position: initial;
  }
  .nav-main {
    flex-grow: 2;
    order: 2;
    text-align: center;
  }
  .nav-main ul {
    padding-top: 0;
  }
}

.header header {
  -webkit-display: flex;
  display: flex;
  width: 100%;
}

.header-logo {
  display: inline-block;
  padding: 1rem 0;
  margin-right: 1.5rem;
  line-height: 0;
}

.header-logo img {
  display: inline-block;
  width: 6rem;
  line-height: 0;
}

.header-nav {
  padding: 0;
  display: inline-block;
}

nav ul {
  margin: 0;
  padding: 1rem 0 1rem 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}

.header-link {
  display: inline-block;
  height: 100%;
  padding: 0.5rem 0.5rem;
  /*border-radius: 0.1rem;*/
  border-bottom: solid 2px transparent;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 0.9;
  color: rgba(102,89,71,1);
}

.header-link:hover, .header-link:focus, .header-link.active {
  padding: 0.5rem 1.5rem;
  border-bottom: solid 2px rgba(121,189,154,1);
  color: rgba(121,189,154,1);
}

@media (max-width: 48rem) {
  .header-link:hover, .header-link:focus, .header-link.active {
    padding: 0.5rem;
  }
}

.header-link:focus {
  font-weight: 700;
}

.header-link-icon {
  display: inline-block;
  line-height: 0;
  border-bottom: none;
  width: 2rem;
  height: 2rem;
}

.icon-search {
  background-image: url('../img/icon-search.svg');
}

.icon-search:hover, .icon-search:focus, .icon-search.active {
  background-image: url('../img/icon-search-hover.svg');
}

.icon-cart {
  position: relative;
  background-image: url('../img/icon-cart.svg');
}

.icon-cart:hover, .icon-cart:focus, .icon-cart.active {
  background-image: url('../img/icon-cart-hover.svg');
}

.icon-cart .badge {
  display: inline-block;
  position: absolute;
  top: 10%;
  right: 10%;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: #79BD9A;
  transition: all 0.5s ease;
}

.icon-cart .badge.hidden {
  width: 4.6rem;
  height: 4.6rem;
}

input.search-bar {
  border: 0;
  border-radius: 0;
  border-bottom: solid 0.15rem #79BD9A;
}

/* Overview */
.overview {
  background: rgba(0,0,0,0.8);
  color: white;
}

.event-header {
  padding-top: 4rem;
}

.home-section{
  padding-top: 1rem;
}

/*.bestseller-grid {
  padding-top: 2rem;
}*/

.contact-section {
  padding-left: 2em;
}

.overview-nav {
  /*display: inline-block;*/
  padding-top: 0;
  /*background: rgba(255,255,255,0.5);*/
 }

.overview-nav ul {
  /*padding: 0;*/
  /*list-style: none;*/
}

.overview-nav ul li {
  /*display: inline-block;*/
}

/* Sections */
.elements {

}

.elements .section-header {

}

.elements article {
  padding-bottom: 0;
}

/* Style Guide Styles */
.button {
  display: inline-block;
  border-radius: 50%;
  padding: 0.5rem 1rem 0.3rem 1rem;
  background-color: transparent;
  color: white;
  margin-bottom: 0.5rem;
}

.button:hover {
  color: white;
}

 /*Styling for Submit/Reset button*/
  .button.button-submit{
    color: #79BD9A;
    border: 0.2em solid #79BD9A;
    border-radius: 2em;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;  
  }

  .button.button-submit:hover, .botton.button-submit:focus{
    color: white;
    border: 0.2em solid #79BD9A;
    background-color: #79BD9A;
    transform: scale(1.05);    /* hover over container to make img scale to prevent glitches */
  }

  .button.button-submit.rsvp:focus {
    color: white;
    border: 0.2em solid #79BD9A;
    background-color: #79BD9A;
  }

  .button.button-reset{
    color: #B7BDBA;
    border: 0.2em solid #B7BDBA;
    border-radius: 2em;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;  
  }

  .button.button-reset:hover, .button.button-reset:focus{
    color: white;
    border: 0.2em solid #787878;
    background-color: #787878;
  }

  .button.rsvp {
    width: 100%;
    text-align: center;
  }

/* Colors */
.color {
  color: white;
  font-weight: bold;
}

.color > div {
  display: inline-block;
  padding: 1.5rem;
}

.light-gray {
  background-color: #B7BDBA;
}

.dark-gray {
  background-color: #787878;
}

.primary {
  background-color: #79BD9A;
}

.secondary {
  background-color: #3B8686;
}

.secondary-dark {
  background-color: #0B486B;
}

/* Combined Elements Styles */

.listing-header {

}

.listing-nav {
  display: inline-block;
  padding: 1rem;
}

.listing-item, .thumbnail {
  display: inline-block;
}

.listing-item figure {
  margin: 0;
  margin-bottom: 2rem;
  line-height: 1;
  transition: all 0.3s;

}

.listing-item:hover img{
  /*opacity: 0.8;*/
}

.listing-item:hover figure{
  transform: scale(1.025);
  box-shadow: 0 0 10px #ccc;
}

.listing-item h4 {
/*  margin-bottom: 0;
  margin-top: 0.5rem;*/
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: center;
}

.listing-item p {
  margin-top: 0;
  text-align: center;
}

.listing-item h3{         /*testing out event date*/
  position: absolute;
  right: 0;
}

.event-img {
  padding-top: 2em;
}

#product-listing h1 {
  margin-top: 0;
}

.product-image {
  margin: 0;
}

.thumbnail-row {
  white-space: nowrap;
  overflow-x: scroll;
}

.thumbnail {
  line-height: 0;
}

.thumbnail img {
  width: 8rem;
}

/* Table styles */
.request-trial {
  margin: 1rem 0;
  border: solid 0.1rem #ccc;
  border-radius: 1.5rem;
  padding: 0 1rem 1rem;
}

.request-trial a {
  margin-bottom: 0;
}

.event-listing {
  font-size: 0.9rem;
}

.event-listing td {
  padding: 0.5rem 0;
}

.event-listing tbody tr {
  cursor: pointer;
}

.event-listing tbody tr.active {
  background: #79BD9A;
  font-weight: normal;
  color: white;
  border: none;
}

table {
  width: 100%;
  table-layout: fixed;
  text-align: left;
}

@media (max-width: 30rem) {
  table {
    display: block;
    overflow-x: scroll;
  }
}

thead {
  border-bottom: solid 1px #ccc;
  font-size: 0.8rem;
  text-transform: uppercase;
}

tbody h3 {
  margin: 0;
  padding-top: 0;
}

tfoot {
  border-top: solid 1px #ccc; 
}

tr {

}

th {
    padding: 0 4rem 0 0;
}

.t-image {
  padding-right: 0;
}

.t-pname {
  width: 45%;
}

.t-quant {
  width: 15%;
  text-align: center;
}

.t-price {
  width: 15%;
  padding-right: 0;
  text-align: right;
}

.t-event {
  width: 30%;
}

.t-locat {
  width: 35%;
}

.t-date  {
  width: 20%;
}

.t-spots {
  width: 15%;
  padding-right: 0;
}


td {
  padding: 1.5rem 1.5rem 1.5rem 0;
  vertical-align: top;
}

/* Citations Styles */
ul.citations {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

ul.citations li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

ul.citations li strong {
  font-weight: normal;
  font-style: italic;
}

cite {
  font-style: normal;
}

/* Footer */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
}

.footer-nav {
  /*margin-top: 4rem;*/
  font-size: 0.8rem;
}

.footer-nav ul {
  padding: 0.5rem 0;
}

.footer-nav ul li {
  padding: 0 2rem 0 0;
}


/*=============*/


section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
}

ul.citations {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

ul.citations li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

ul.citations li strong {
  font-weight: normal;
  font-style: italic;
}

cite {
  font-style: normal;
}

img {
  width: 100%;
}