html, body {
	font-family: Martel Sans, sans-serif;
}

/* Title */
h1 {
	font-family: Rubik;
	font-size: 3rem;
	font-weight: 300;
	font-style: normal;
	text-transform: uppercase;
}

/* Main headings */
h2, h3 {
	font-family: Rubik;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	padding-top: 0.5em;
}

h2.contact-heading {
	padding-top: 0;
	margin-top: 1.1rem;
}

h2 {
	border-bottom: solid 0.2rem rgba(121,189,154,1);
}

/* Sub headings*/
h4, h5, h6 {
	font-weight: 300;
	font-style: normal;
}

/* Ordered List */
ol {
	counter-reset: item;
}

ol > li {
	margin: 0;
	padding: 0 0 0 1em;
	text-indent: -2em;
	list-style-type: none;
	counter-increment: item;
}

ol > li:before {
	content: counter(item) ".";
	display:inline-block;
	width: 1em;
	padding-right: 0.5em;
	font-weight: bold;
	text-align: right;
}

/* Link Text */
a {
  text-decoration: none;
  color: #79BD9A;
  
  transition: all 0.2s;
}

a:hover, a:focus {
  text-decoration: none;
  color: #3B8686;
}