/* Font from https://www.google.com/fonts/specimen/Rubik */
/* Font from https://www.google.com/fonts/specimen/Martel+Sans */


@import url(https://fonts.googleapis.com/css?family=Rubik:300,300italic,400,400italic,700italic,700);
@import url(https://fonts.googleapis.com/css?family=Martel+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat);


html, body {
	font-family: Martel Sans, sans-serif;
}

/* Title */
h1 {
	font-family: Rubik;
	font-size: 3rem;
	font-weight: 300;
	font-style: italic;
	text-transform: uppercase;
	/*transform: skewX(12deg);*/
}

/* Main headings */
h2, h3 {
	font-family: Rubik;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
}

h2 {
	border-bottom: solid 0.2rem rgba(121,189,154,1);
}

h3 {
	border-bottom: solid 0.15rem rgba(121,189,154,0.5);
}

/* Sub headings*/
h4, h5, h6 {
	font-weight: 300;
	font-style: italic;
}

/* Body Text */
p {

}

/* Link Text */
a {
  text-decoration: none;
  color: #79BD9A;
  
  transition: all 0.2s;
}

a:hover, a:focus {
  text-decoration: none;
  color: #3B8686;
}