/* User Flow */
.item-smartphone, .item-smartwatch, .item-4k-display {
	margin: 0;
	padding: 1.5rem;
}

.item-smartphone {
	flex-basis: calc(100% / 3);
	min-width: 23rem;
}

.item-smartwatch {
	flex-basis: calc(100% / 5);
	min-width: 15rem;
}

.item-4k-display {
	flex-basis: calc(100% / 2);
	min-width: 50rem;
}

/*iframe {
	width: 100%;
	height: 0;
	padding-bottom: 99%;
	border: solid 0.1rem rgba(102,89,71,1);
}*/

.frame {
	overflow-y: scroll;
	width: 100%;
	margin: -0 -0 0 0;
}

.frame img {
	width: 100%;
}

.item-smartphone .frame {
	height: 33.5rem;
}

.item-smartwatch .frame {
	height: 11.1rem;
}

.item-4k-display .frame {
	overflow: auto;

}